:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  align-items: center;
  display: flex;
  font-family: system-ui;
  height: 100%;
  justify-content: center;
}

.stars__container {
  counter-reset: star var(--star-number);
  direction: rtl;
  display: grid;
  gap: 15px;
  grid-auto-flow: column;
}

.stars__container__label {
  align-items: center;
  color: #f1c40f;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: center;
}

.stars__container__label:nth-of-type(n + 2) {
  counter-increment: star -1;
}

.stars__container__input:checked ~ .stars__container__label {
  opacity: 1;
}

.stars__container__input ~ .stars__container__label {
  opacity: 0.5;
  transition: 0.75s opacity;
}

.stars__container__input:checked + .stars__container__label::before {
  animation: 1s jump;
}

.stars__container__input:checked ~ .stars__container__label::before {
  content: '\2605';
}

.stars__container__input ~ .stars__container__label::before {
  content: '\2606';
}

.stars__container__input ~ .stars__container__label::after {
  content: counter(star);
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1rem);
  }
}
